.main{
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;	
	background-color: #f2f2f2;
}
.menu{
width: 3rem;
margin-top: 0.65rem;
flex-grow: 1;
}
